.root {
    width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 50px auto;
}

.field {
    margin-bottom: 20px !important;
}
.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    // margin-top: 15px;
}
.button {
    display: block;
    margin: 0 auto;
}
.links {
    display: flex;
    justify-content: flex-end;
}

.link {
    // display: block;
    margin-top: 13px;
    color: black;
    text-decoration: none;

    &:hover {
        color: #4361ee;
    }
}
.showPass {
    display: flex;
    justify-content: flex-start;
}
.message {
    font-size: 13px;
    color: red;
}
.successMessage {
    color: #4361ee;
}
